@font-face { font-family: titlefont; src: url("assets/title.otf"); } 


html, body {
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes FromLeft {
      0% {
          left: -50%;
      }
      50% {
          left: 10%;
      }
      100% {
          left: 5%;
      }
  }

@keyframes FromRight {
    0% {
        right: -50%;
    }
    50% {
        right: 10%;
    }
    100% {
        right: 5%;
    }
}

@keyframes FromBot {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    50% {
        opacity: 0.5;
        margin-top: 5%;
        bottom: 35%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 30%;
    }
}

@keyframes FromBot2 {
    0% {
        opacity: 0;
        margin-top: 10%;
        bottom: -20%;
    }

    50% {
        opacity: 0.5;
        margin-top: 5%;
        bottom: 30%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
        bottom: 25%;
    }
}

.title {
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: titlefont;
    font-size: 140%;

}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}



.language {
    position: absolute;
    top: 80%;
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
    height: 400px;
}

.Proposition {
    position: absolute;
    top: 147%;
    left: 5%;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 20px;
    width: 90%;
    height: 400px;
    float: left;
    text-align: center;
    animation: FromLeft 1s;
}


.btnGithub {
    position: absolute;
    bottom: 30%;
    left: 50%;
    scale: 250%;
    width: 21%;
    background-color: white;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 5px;
}

.btnAvis {
    animation: FromBot2 1s;
    transform: translate(-50%);
    position: absolute;
    bottom: 25%;
    left: 50%;
    scale: 250%;
    width: 21%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.btnGithub a {
    text-align: center;
}

.btnAvis a {
    text-align: center;
}