@font-face {
    font-family: Patinio;
    src: url("/assets/fonts/Patinio.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("/assets/fonts/ubuntu.ttf");
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fromtop {
    0% {
        top: -90%;
    }
    80% {
        top: 5%;
    }
    100% {
        top: 0%;
    }
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    background-color: #0f0f0f;
}

#AUTHOR {
    font-size: 30px;
    margin-left: 1%;
    font-family: Patinio;
    color: white;
}

#AUTHOR:hover {
    cursor: default;
}

#AUTHOR #a2 {
    text-decoration: underline;
    animation: fade 3s infinite;
    color: var(--color);
}

#demo {
    margin-left: 0%;
    color: var(--color);
    font-size: 10px;
    font-family: Consolas;
}

#credit {
    margin-left: 0%;
    color: var(--color);
    font-size: 20px;
    font-family: Ubuntu;
}

#inputchar {
    animation: blink 0.5s infinite 3s;
    color: var(--color);
    font-size: 30px;
    font-family: Ubuntu;
}

.logo {
    position:  absolute;
    width: 10%;
    animation: fromtop 1s ease-in-out;
}

.frame {
    border: 5px solid gray;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    margin-top: 25%;
    margin-left: 50%;
}

.hdivider {
    border: 2px solid gray;
}

.vdivider {
    position: absolute;
    top: 56.5%;
    border: 2px solid gray;
    height: 88%;
    width: 0px;
    margin-left: 25%;
    transform: translate(-50%,-50%);
}

.innerbox {
    color: white;
    margin-left: 7px;
    font-family: Ubuntu;
    font-size: smaller;
}

#title1 {
    font-size: 50px;
}